.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu {
  display: flex;
  gap: 50px;
  list-style: none;
  flex: 1;
  justify-content: center;
}


.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;/* centrer les enfants horizontalement */
    justify-content: center;
    /* espace entre les éléments */
    gap: 3px;
    /*l’élément est cliquable*/
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;

}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 25px; /* espace horizontal entre le bouton et le panier */
  /*position: relative;  nécessaire pour placer le compteur */
}

.nav-login-cart img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.nav-login-cart button {
  height: 45px;
  padding: 0 20px;
  border-radius: 75px;
  background: white;
  border: 1px solid #7a7a7a;
  font-size: 16px;
  cursor: pointer;
}

.cart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-login-cart button :active{
    background: #f3f3f3;
    
}
